# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# Maven / Spring Boot
# =========================
target/
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / Backup
# =========================
*.tmp
*.bak
